textarea {
	width: 50%;
	resize: none;
}

.title {
	font-size: 12px;
	margin-bottom: 5px;
}

.footer {
	font-size: 7px;
	margin-top: 5px;
}

#encoded {
	height: 300px;
}

#decoded {
	height: 100px;
}

.container {
	text-align: center;
}