textarea {
	padding: 5px;
	border: solid 1px #1890ff;
	box-sizing: border-box;
}

.header {
	height: 80px;
}

.title {
	font-size: 20px;
}

.footer-container {
	margin-top: 15px;
}

.footer {
	font-size: 12px;
	margin-top: 3px;
}

button {
	background-color: #1890ff;
	border: none;
	color: white;
	border-radius: 3px;
	cursor: pointer;
}

button:hover {
	background-color: #40a9ff;
}

#encode,
#decode {
	width: 50px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#tip {
	padding: 2px 5px;
	font-size: 14px;
}

.button-container {
	margin: 5px 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.col {
	flex-direction: column;
}

#popup {
	left: 0;
	top: 0;
	position: absolute;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 2px 5px;
	border-radius: 4px;
	font-size: 10px;
	z-index: 1;
}

.fade {
	animation-name: fade;
	animation-duration: 2s;
}

.hide {
	visibility: hidden;
}

.url {
	font-size: 20px;
}

.margin-left {
	margin-left: 5px;
}

.arrow-text {
	background-color: #1890ff;
	color: #fff;
	padding: 0 5px;
	border-radius: 2px;
}

.tip-label {
	background-color: #1890ff;
	color: #fff;
	padding: 0 5px;
	border-radius: 2px;
	margin-right: 5px;
}

.example-text {
	border: 1px solid #1890ff;
	white-space: nowrap;
}

.tip-text {
	transform: scaleY(0);
}

.expand {
	transition: transform 0.3s ease-out;
	transform: scaleY(1);
}

.collapse {
	transition: transform 0.3s ease-out;
	transform: scaleY(0);
}

#recent {
	padding: 2px 5px;
	font-size: 14px;
	margin-left: 10px;
}

@keyframes fade {
  from {
  	opacity: 1;
  }
  to {
  	transform: translateY(-20px);
  	opacity: 0;
  }
}

/* desktop / laptop */
@media (min-width: 1025px) {
	#decoded {
		width: 50%;
		resize: none;
		display: block;
		height: 300px;
	}

	#encoded {
		width: 39%;
		resize: none;
		display: block;
		height: 60px;
	}

	#copy {
		margin-left: 1%;
		width: 10%;
		height: 60px;
		font-size: 13px;
	}

	.tip-container {
		margin-top: 10px;
		margin-left: 25%;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.tip-content {
		margin-top: 5px;
	}
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#table {
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:hover {background-color: #e7f3ff;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1890ff;
  color: white;
}

.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.error-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	font-size: 18px;
	color: #898989;
}

.loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #1890ff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 700ms linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* mobile */
@media (min-width: 0px) and (max-width: 1024px) {
	#decoded {
		width: 80%;
		resize: none;
		display: block;
		height: 300px;
	}

	#encoded {
		width: 54%;
		resize: none;
		display: block;
		height: 60px;
	}

	#copy {
		margin-left: 1%;
		width: 25%;
		height: 60px;
		font-size: 13px;
	}

	.tip-container {
		margin-top: 10px;
		margin-left: 10%;
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.tip-content {
		margin-top: 5px;
		font-size: 13px
	}

}
